<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" <%= setSiteList[0].site_desc %>">
  <meta name="keywords" content=" <%= setSiteList[0].site_desc %>">
  <meta name="author" content="elemis">
  <title> <%= setSiteList[0].site_title %> </title>
  <link rel="shortcut icon" href="/site/<%= setSiteList[0].fav_icon %>">
  <link rel="stylesheet" href="/assets/css/plugins.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="preload" href="/assets/css/fonts/space.css" as="style" onload="this.rel='stylesheet'">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <meta name="google-site-verification" content="xs05U06NOOXQlk1NAv2z8mDYkDPZf_SP8fSQ41edZU4" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
</head>


